body {
    background-color:whitesmoke;
}

hr {
    border-style: dotted none none none;
    height: 0;
    border-width: 10px;
    width: 5%;
    color: grey;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: darkcyan;
}

table.customTable {
    border-collapse: collapse;
    border-width: 2px;
    border-color: grey;
    border-style: solid;
    color: #000000;
}

div {
    max-width: 510px;
    margin: auto;
}
